<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,643},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,723},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,803},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,883},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,963},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,1043},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,1123},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{1,1203},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,108},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,215},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,322},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,429},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{1,536},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{107,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee4aa34a218fdcaa2d7b023269079474:d2dc2cf8bc8502743a5926c9ccec9ce4:544c64e63d0b9630b74f34aa38307e54$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
